{% extends "layout.html" %}
{% block content %}
    <div class="main-wraper">
        {#        Login Form    #}
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{{ url_for('login') }}">
                        <div class="modal-body mx-3">
                            <div class="md-form mb-5">
                                {{ form.hidden_tag() }}
                                <i class="fas fa-envelope prefix grey-text"></i>
                                <input type="email" id="defaultForm-email" class="form-control validate">
                                {{ form.username.label(class="form-control-label") }}
                            </div>

                            <div class="md-form mb-4">
                                <i class="fas fa-lock prefix grey-text"></i>
                                <input type="password" id="defaultForm-pass" class="form-control validate">
                                {{ form.password.label(class="form-control-label") }}

                            </div>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            {{ form.submit(class = "btn btn-lg btn-outline-info") }}
                        </div>
                    </form>

                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-12 col-print-12 px-0">
                    <div class="profile-box-left" id="profile_ripple">
                        <div class="zoo-profile-main-pic">
                            <img src="{{ url_for('static', filename='zain.jpg') }}" alt="" height="100"
                                 class="rounded-circle d-block mx-auto">
                            <span class="zoo-user-chat">
                                <i class="uil uil-comment-dots"></i>
                            </span>
                        </div>
                        <div class="zoo-profile_user-detail">
                            <h5 class="zoo-user-name">DR. MOHAMMAD ZAIN KHAN</h5>
                            <p class="cd-headline loading-bar">
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Assistant Professor</b>
                                </span>
                            </p>
                        </div>
                        <!--end zoo-profile_user-detail-->

                        <ul class="list-unstyled personal-detail mx-auto">
                            <li>
                                <i class="uil uil-phone-volume"></i>
                                : +91 8266057545
                            </li>
                            <li class="mt-1">
                                <i class="uil uil-envelope mt-2"></i>
                                : dr_mzain.ch@amu.ac.in
                            </li>
                        </ul>
                        <!--end personal-detail-->

                        <div class="profile-socials">
                            <ul class="list-inline social-icon text-center mx-auto mb-4">
                                <li class="list-inline-item">
                                    <a href="#" class="bg-blue">
                                        <i class="uil uil-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="bg-secondary">
                                        <i class="uil uil-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="bg-pink">
                                        <i class="uil uil-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                            <!--end social-icon-->
                        </div>
                    </div>
                    <!--end profile-box-left -->
                    <div class="profile-box-right">
                        <section class="section-md">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="header-title mb-3">About me !</h4>
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-6 col-print-6">
                                        <h4 class="text-primary font-weight-bold">I'm Mohammad Zain Khan</h4>

                                        <p>Highly motivated researcher with a commitment to pursuing career in
                                            Chemistry/Applied Chemistry/Industrial Chemistry with research focus on
                                            Biofuel Cells, Nanosensors and Materials for Batteries and Supercapacitor. A
                                            passionate academic in driving university research, directing students
                                            challenging program, focusing on outcome based research and an Assistant
                                            Professor in the Section of Industrial Chemistry, Department of Chemistry,
                                            AMU Aligarh, India.
                                        </p>
                                        <button type="button" class="btn btn-sm btn-soft-primary">Download CV</button>
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-5 col-print-5 offset-lg-1 align-self-center">
                                        <p>
                                            <span class="personal-detail-title">Name</span>
                                            <span class="personal-detail-info">Mohammad Zain Khan</span>
                                        </p>
                                        <p>
                                            <span class="personal-detail-title">Date of birth</span>
                                            <span class="personal-detail-info">01 May 1984</span>
                                        </p>
                                        <p>
                                            <span class="personal-detail-title">Spoken Langages</span>
                                            <span class="personal-detail-info">English - Urdu</span>
                                        </p>
                                        <p>
                                            <span class="personal-detail-title">Nationality</span>
                                            <span class="personal-detail-info">Indian</span>
                                        </p>
                                        <p>
                                            <span class="personal-detail-title">Interest</span>
                                            <span class="personal-detail-info">Biofuel Cells, Nanosensors and Materials
                                                for Batteries and Supercapacitor</span>
                                        </p>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </section>
                        <!--end section-->

                        <section class="section-md">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="header-title mb-3">Education & Skills</h4>
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-7 col-print-7">
                                        <div class="row">
                                            <div class="col-sm-6 col-print-6">
                                                <div class="resume-icon">
                                                    <i class="uil uil-graduation-hat"></i>
                                                    <h5 class="mt-n2">Education</h5>
                                                </div>
                                                <!--end resume-icon-->
                                                <div class="timeline">
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="font-14">2001 - 2004</div>
                                                            <h5 class="my-1 text-dark">Bachelor's of Science: </h5>
                                                            <p>Industrial Chemistry</p>
                                                        </div>
                                                    </div>
                                                    <!--end time-item-->
                                                    <div class="time-item mt-3">
                                                        <div class="item-info">
                                                            <div class="font-14">2005 - 2007</div>
                                                            <h5 class="my-1 text-dark">Masters in Science</h5>
                                                            <p> Industrial Chemistry</p>
                                                        </div>
                                                    </div>
                                                    <!--end time-item-->
                                                    <div class="time-item  mt-3">
                                                        <div class="item-info">
                                                            <div class="font-14">2007 - 2011</div>
                                                            <h5 class="my-1 text-dark">Ph.D.</h5>
                                                            <p> Specialization in Environmental Chemistry/
                                                                Bioremediation</p>
                                                        </div>
                                                    </div>
                                                    <!--end time-item-->
                                                </div>
                                                <!--end timeline-->
                                            </div>
                                            <!--end col-->
                                            <div class="col-sm-6 col-print-6">
                                                <div class="resume-icon">
                                                    <i class="uil uil-suitcase-alt"></i>
                                                    <h5 class="mt-n2">Experience</h5>
                                                </div>
                                                <!--end resume-icon-->
                                                <div class="timeline">
                                                    <div class="time-item">
                                                        <div class="item-info">
                                                            <div class="font-14">10/2019 - Present</div>
                                                            <h5 class="my-1 text-dark">Assistant Professor</h5>
                                                            <p>Department of Chemistry, Aligarh Muslim University,
                                                                Aligarh, India</p>
                                                        </div>
                                                    </div>
                                                    <!--end time-item-->
                                                    <div class="time-item mt-3">
                                                        <div class="item-info">
                                                            <div class="font-14">06/2015 – 07/2015</div>
                                                            <h5 class="my-1 text-dark">Visiting Research</h5>
                                                            <p>King Abdul Aziz University, Jeddah, Kingdom of Saudi
                                                                Arabia
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!--end time-item-->
                                                    <div class="time-item  mt-3">
                                                        <div class="item-info">
                                                            <div class="font-14">04/2013 – 02/2014</div>
                                                            <h5 class="my-1 text-dark">Project Scientist </h5>
                                                            <p>Indian Institute of Technology, Delhi, India</p>
                                                        </div>
                                                    </div>
                                                    <!--end time-item-->

                                                    <div class="time-item mt-3">
                                                        <div class="item-info">
                                                            <div class="font-14">06/2015 – 07/2015</div>
                                                            <h5 class="my-1 text-dark">Post-Doctoral Fellowship</h5>
                                                            <p><b>University College London, London, UK</b>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!--end time-item-->


                                                </div>
                                                <!--end timeline-->
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-5 col-print-5 align-self-center">
                                        <div class="skills mt-4">
                                            <div class="skill-box">
                                                <h4 class="skill-title">Gram staining and strain isolation </h4>
                                                <div class="progress-line">
                                                    <span data-percent="78" style="width: 100%;">
                                                        <span class="percent-tooltip"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!--end skill-box-->
                                            <div class="skill-box">
                                                <h4 class="skill-title">Strain Characterization</h4>
                                                <div class="progress-line">
                                                    <span data-percent="90" style="width: 100%;">
                                                        <span class="percent-tooltip"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!--end skill-box-->
                                            <div class="skill-box">
                                                <h4 class="skill-title">GC, MS, FTIR, UV, HPLC, SEM/TEM, XRD, TGA/DSC
                                                </h4>
                                                <div class="progress-line">
                                                    <span data-percent="80" style="width: 100%;">
                                                        <span class="percent-tooltip"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!--end skill-box-->
                                        </div>
                                        <!--end skill-->
                                    </div>
                                    <!--end col-->

                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </section>
                        <!--end section-->

                        <section class="bg-funfact section-md">
                            <div class="container">
                                <div class="row justify-content-center" id="counter">
                                    <div class="col-sm-4 digit-counter">
                                        <div class="media">
                                            <i class="uil uil-cell text-warning mr-2 align-self-center"></i>
                                            <div class="media-body align-self-center">
                                                <h3 class="mb-1"><span class="counter-value" data-count="39">10+</span>+
                                                </h3>
                                                <h5 class="counter-name mt-0">Supervised Projects</h5>
                                            </div>
                                        </div>
                                        <!--end media-->
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-4 digit-counter">
                                        <div class="media">
                                            <i class="uil uil-smile text-success mr-2 align-self-center"></i>
                                            <div class="media-body align-self-center">
                                                <h3 class="mb-1"><span class="counter-value" data-count="7">1</span>
                                                </h3>
                                                <h5 class="counter-name mt-0">Professional Memberships</h5>
                                            </div>
                                        </div>
                                        <!--end media-->
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-4 digit-counter">
                                        <div class="media">
                                            <i class="uil uil-trophy text-pink mr-2 align-self-center"></i>
                                            <div class="media-body align-self-center">
                                                <h3 class="mb-1"><span class="counter-value" data-count="9">1</span>
                                                </h3>
                                                <h5 class="counter-name mt-0">Awards Received</h5>
                                            </div>
                                        </div>
                                        <!--end media-->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </section>
                        <!--end section-->

                        <section class="section-md my-work">

                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="header-title mb-3">My Works & Review</h4>
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-6 col-print-6 align-self-center">
                                        <div class="p-4">
                                            <div class="text-center">
                                                <h2><i class="uil uil-feedback text-primary"></i></h2>
                                            </div>
                                            <!--end /div-->
                                            <div id="carouselExampleFade2" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item">
                                                        <div class="text-center">
                                                            <p class="px-4">
                                                                Development of low energy systems for treating textile
                                                                effluents" funded by DST-SERB, New Delhi
                                                            </p>
                                                            <div>
                                                                <img src="images/users/user-10.jpg" alt=""
                                                                     class="rounded-circle thumb-md mb-2">
                                                                <p class="mb-0 text-primary"><b>- Amt. ₹ 36.5 Lakhs</b>
                                                                </p>
                                                                <small class="text-muted">New Delhi</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end carousel-item-->
                                                    <div class="carousel-item active">
                                                        <div class="text-center">
                                                            <p class="px-4">
                                                                "Bioelectrochemical system platform for bioremediation
                                                                and sustainable bioenergy generation from toxic
                                                                compounds"
                                                            </p>
                                                            <div>
                                                                <img src="images/users/user-4.jpg" alt=""
                                                                     class="rounded-circle thumb-md mb-2">
                                                                <p class="mb-0 text-primary"><b>-Amt. ₹ 11.0 Lakhs</b>
                                                                </p>
                                                                <small class="text-muted"> Council of Science and
                                                                    Technology,Uttar Pradesh</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end carousel-item-->
                                                    <div class="carousel-item">
                                                        <div class="text-center">
                                                            <p class="px-4">
                                                                Providing Consultancy services to Germany Based
                                                                Multinational Ink Manufacturer
                                                            </p>
                                                            <div>
                                                                <img src="images/users/user-5.jpg" alt=""
                                                                     class="rounded-circle thumb-md mb-2">
                                                                <p class="mb-0 text-primary"><b>Completed</b></p>
                                                                <small class="text-muted"></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end carousel-item-->
                                                </div>
                                                <!--end carousel-inner-->
                                            </div>
                                            <!--end carousel-->
                                        </div>
                                        <!--end /div-->
                                    </div>
                                    <!--end col-->

                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <ul class="col container-filter categories-filter mb-4" id="filter">
                                                        <li><a class="categories active" data-filter="*">All</a></li>
                                                        <li><a class="categories" data-filter=".design">OnGoing
                                                            Projects</a></li>
                                                        <li><a class="categories" data-filter=".frontend">Completed
                                                            Projects</a></li>
                                                    </ul>
                                                    <!--end col-->
                                                </div><!-- End portfolio  -->

                                                <div class="row container-grid nf-col-3  projects-wrapper">
                                                    <div class="col-md-4 col-6 p-0 nf-item design">
                                                        <div class="item-box">
                                                            <a class="cbox-gallary1 mfp-image"
                                                               href="images/portfolio/1.jpg" title="Apple">
                                                                <img class="item-container "
                                                                     src="images/portfolio/1.jpg" alt="7"/>
                                                                <div class="item-mask">
                                                                    <div class="item-caption">
                                                                        <h5 class="text-white">Apple</h5>
                                                                        <p class="text-white">UI/UX Design</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!--end item-box-->
                                                    </div>
                                                    <!--end col-->

                                                    <div class="col-md-4 col-6 p-0 nf-item backend">
                                                        <div class="item-box">
                                                            <a class="cbox-gallary1 mfp-image"
                                                               href="images/portfolio/2.jpg" title="Samsung">
                                                                <img class="item-container mfp-fade"
                                                                     src="images/portfolio/2.jpg" alt="2"/>
                                                                <div class="item-mask">
                                                                    <div class="item-caption">
                                                                        <h5 class="text-light">Samsung</h5>
                                                                        <p class="text-light">Android</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!--end item-box-->
                                                    </div>
                                                    <!--end col-->

                                                    <div class="col-md-4 col-6 p-0 nf-item design frontend">
                                                        <div class="item-box">
                                                            <a class="cbox-gallary1 mfp-image"
                                                               href="images/portfolio/3.jpg" title="Facebook">
                                                                <img class="item-container" src="images/portfolio/3.jpg"
                                                                     alt="4"/>
                                                                <div class="item-mask">
                                                                    <div class="item-caption">
                                                                        <h5 class="text-light">Facebook</h5>
                                                                        <p class="text-light">Frontend</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!--end item-box-->
                                                    </div>
                                                    <!--end col-->

                                                    <div class="col-md-4 col-6 p-0 nf-item design frontend">
                                                        <div class="item-box">
                                                            <a class="cbox-gallary1 mfp-image"
                                                               href="images/portfolio/5.jpg" title="WhatsApp">
                                                                <img class="item-container" src="images/portfolio/5.jpg"
                                                                     alt="5"/>
                                                                <div class="item-mask">
                                                                    <div class="item-caption">
                                                                        <h5 class="text-light">WhatsApp</h5>
                                                                        <p class="text-light">Graphic Design</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!--end item-box-->
                                                    </div>
                                                    <!--end col-->

                                                    <div class="col-md-4 col-6 p-0 nf-item  design">
                                                        <div class="item-box">
                                                            <a class="cbox-gallary1 mfp-image"
                                                               href="images/portfolio/6.jpg" title="Nokia">
                                                                <img class="item-container" src="images/portfolio/6.jpg"
                                                                     alt="6"/>
                                                                <div class="item-mask">
                                                                    <div class="item-caption">
                                                                        <h5 class="text-light">Nokia</h5>
                                                                        <p class="text-light">Web Design</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!--end item-box-->
                                                    </div>
                                                    <!--end col-->

                                                    <div class="col-md-4 col-6 p-0 nf-item backend frontend">
                                                        <div class="item-box">
                                                            <a class="cbox-gallary1 mfp-image"
                                                               href="images/portfolio/4.jpg" title="Oppo">
                                                                <img class="item-container" src="images/portfolio/4.jpg"
                                                                     alt="1"/>
                                                                <div class="item-mask">
                                                                    <div class="item-caption">
                                                                        <h5 class="text-light">Oppo</h5>
                                                                        <p class="text-light">Backend</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!--end item-box-->
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </section>
                        <!--end section-->
                        <hr>
                        <section class="section-md">
                            <div class="container">

                                <div class="jumbotron jumbotron-fluid">
                                    <div class="container">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                                   href="#nav-home" role="tab" aria-controls="nav-home"
                                                   aria-selected="true">
                                                    <h6>Research Projects</h6>
                                                </a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                                   href="#nav-profile" role="tab" aria-controls="nav-profile"
                                                   aria-selected="false">
                                                    <h6>PHD Students</h6>
                                                </a>
                                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                                   href="#nav-contact" role="tab" aria-controls="nav-contact"
                                                   aria-selected="false">
                                                    <h6>Publications</h6>
                                                </a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                 aria-labelledby="nav-home-tab">
                                                <h4 class="my-1 text-dark">Ongoing and completed projects</h4>
                                            </div>

                                            <!-- PhD Block  -->
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                                 aria-labelledby="nav-profile-tab">


                                                <!-- ****** Team Section****** -->
                                                <section id="team2-2" class="team2-2">
                                                    <div class="section-padding">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div
                                                                        class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
                                                                    <div class="section-title wow bounceIn">
                                                                        <h2 data-selector="h2">PhD Research
                                                                            Scholars </h2>
                                                                    </div><!-- //title -->
                                                                </div><!-- //column -->
                                                            </div><!-- //row -->
                                                            <div class="row margin">

                                                                {% for scholar in scholarsList %}


                                                                    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                                                                        <div class="box">
                                                                            <div><img
                                                                                    src="{{ url_for('static',filename='images/scholars/danish.jpg') }}"
                                                                                    alt="Team Member 1"
                                                                                    data-selector="img" height="150px"
                                                                                    width="150px">
                                                                            </div>
                                                                            <h3 data-selector="h3">{{ scholar.name }}</h3>
                                                                            <div>
                                                                                <strong>{{ scholar.designation }}</strong>
                                                                            </div>
                                                                            <p class="description "
                                                                               data-selector="p">{{ scholar.bio }}</p>
                                                                        </div><!-- //box -->
                                                                    </div><!-- //column -->

                                                                {% endfor %}


                                                            </div><!-- //row -->
                                                        </div>
                                                        <!--//container-->
                                                    </div>
                                                    <!--//section padding-->
                                                </section>
                                                <!--//team section -->


                                            </div>
                                            <!-- Phd  Block End -->


                                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                 aria-labelledby="nav-contact-tab">
                                                PUBLICATIONS
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <section class="section-md contact-form">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <h4 class="header-title mb-3">Contact Me</h4>
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-4">
                                        <div class="contact-info">
                                            <div class="icon">
                                                <i class='uil uil-phone-volume'></i>
                                            </div>
                                            <div class="content">
                                                <h5>Free Call To Me:</h5>
                                                <span>(+91) 826-605-7545</span>
                                            </div>
                                        </div>
                                        <!--end contact-info-->

                                        <div class="contact-info">
                                            <div class="icon">
                                                <i class='uil uil-envelope'></i>
                                            </div>
                                            <div class="content">
                                                <h5>Mail Me:</h5>
                                                <span>zn.khan1@gmail.com</span>
                                            </div>
                                        </div>
                                        <!--end contact-info-->

                                        <div class="contact-info">
                                            <div class="icon">
                                                <i class='uil uil-map-marker'></i>
                                            </div>
                                            <div class="content">
                                                <h5>Find Me:</h5>
                                                <span>Department of Chemistry, Aligarh Muslim University, Aligarh
                                                    202002, India</span>
                                            </div>
                                        </div>
                                        <!--end contact-info-->
                                    </div>
                                    <!--end col-->
                                    <div class="col-sm-8">
                                        <div class="contact-form">
                                            <div id="message"></div>
                                            <form method="post" action="php/contact.php" name="contact-form"
                                                  id="contact-form">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>Name</label>
                                                        <input type="text" name="name" class="form-control" id="name">
                                                    </div>
                                                    <!--end col-->
                                                    <div class="form-group col-md-6">
                                                        <label>Email address</label>
                                                        <input type="email" name="email" class="form-control"
                                                               id="email">
                                                    </div>
                                                    <!--end col-->
                                                    <div class="form-group col-md-12">
                                                        <label>Message</label>
                                                        <textarea rows="4" name="message" class="form-control"
                                                                  id="comments"></textarea>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="form-group col-md-12">
                                                        <input type="submit" value="Submit now" name="submit"
                                                               id="submit" class="btn btn-primary px-5 py-2">
                                                        <div id="simple-msg"></div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </form>
                                            <!--end form-->
                                        </div>
                                        <!--end contact-form-->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </section>
                        <!--end section-->

                        <section class="section-md thanks-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="text-center">Thank you !</h3>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </section>
                        <!--end section-->

                        <footer class="footer-area">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <p class="copyright mb-0 py-4">© 2020: By Abdul Hannan Mustajab</p>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-->
                        </footer>
                        <!--end footer-area-->
                    </div>
                    <!--end profile-box-right -->
                </div> <!-- end col -->
            </div><!-- end row -->
        </div><!-- container -->
    </div>
    <!--end main-wraper--
{% endblock content %}
